<div class="w3-container w3-black" style="padding:128px 16px" id="about">
    <h3 class="w3-center" style="margin-bottom: 100px">About Me</h3>
    <div class="w3-row-padding w3-animate-bottom w3-center" style="margin:64px">
        <div class="w3-quarter">
            <i class="fa fa-code w3-margin-bottom w3-jumbo w3-center"></i>
            <h3><b>I Write</b></h3>
            <p>complex queries to retieve cool and accurate facts using different tools.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <h3><b>I Love</b></h3>
            <p>data analytics, socializing and being adventerous.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-line-chart w3-margin-bottom w3-jumbo"></i>
            <h3><b>I Grow</b></h3>
            <p>endlessly like a creeper paving my way through untaken roads in the field of Analytics.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-balance-scale w3-margin-bottom w3-jumbo"></i>
            <h3><b>I Balance</b></h3>
            <p>what's thrown at me and try to complete assigned tasks without any hassle.</p>
        </div>
    </div>
</div>
