<div class="w3-container w3-center w3-black" style="padding:70px 16px" id="pricing">
    <h2>Education</h2>
    <div class="w3-row-padding w3-animate-bottom" style="margin-top:20px; margin-bottom: 20px">
        <div class="w3-half">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-xxlarge w3-padding-36" style="background-color: #CC0000;">
                    <a style="text-decoration: none;" href="#"><h3 style="color: white"><b>University of Utah</b></h3></a>
                </li>
                <li class="w3-xlarge w3-padding-16"><b>Master of Science,</b> Information Systems</li>
                <li class="w3-xlarge w3-padding-16"><b>GPA</b> 4.0</li>
                <li class="w3-xlarge w3-padding-16"><b>10</b> Domains</li>
                <li class=" w3-xlarge w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-xlarge w3-padding-16">$ 10</li>
            </ul>
        </div>
        <div class="w3-half">
            <ul class="w3-ul w3-white w3-hover-shadow">
                <li class="w3-xxlarge w3-padding-36" style="background-color: #DE1C85">
                    <a style="text-decoration: none;" href="#"><h3 style="color: white"><b>Jawaharlal Nehru Technological University</b></h3></a> </li>
                <li class="w3-xlarge w3-padding-16"><b>Bachelor of Technology,</b> Electrical and Electronics Engineering</li>
                <li class="w3-xlarge w3-padding-16"><b>GPA</b> 4.0</li>
                <li class="w3-xlarge w3-padding-16"><b>25</b> Domains</li>
                <li class="w3-xlarge w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-xlarge w3-padding-16">$ 25</li>
            </ul>
        </div>
    </div>
</div>
