<header class="bgimg-1 w3-grayscale-min">
    <div class="w3-display-topright w3-text-white w3-hide-medium w3-hide-small w3-display-topright" style="padding-right:70px; padding-top:90px">
        <span class="w3-jumbo w3-animate-bottom"><h1>Hi, I'm Anusha Teerdhala!</h1></span><br>
    </div>
    <div class="w3-display-topright w3-text-white w3-hide-large w3-display-topright" style="padding:120px">
        <span class="w3-jumbo w3-animate-bottom"><h4>Hi, I'm Anusha!</h4></span><br>
    </div>



    <div class="w3-display-middle w3-hide-small w3-hover-grayscale" style="width:20%; margin-top: 40px; text-align:center;">
        <img class="w3-circle w3-animate-bottom" src="app/content/anu.JPG" alt="Norway" style="width:120%">
    </div>


    <div class="w3-display-bottomleft w3-text-white w3-large" style="padding:24px 48px">
        <a href="#"><i socialclass="fa fa-facebook-official w3-hover-opacity social"></i></a>
        <a href="#"><i class="fa fa-instagram w3-hover-opacity social"></i></a>
        <a href="#"><i class="fa fa-snapchat w3-hover-opacity social"></i></a>
        <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity social"></i></a>
        <a href="#"><i class="fa fa-twitter w3-hover-opacity social"></i></a>
        <a href="#"><i class="fa fa-linkedin w3-hover-opacity social"></i></a>
    </div>
</header>